#Notebook para manipulação dos dados finais

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as f
import os

BRONZE_PATH = os.path.join("..", "table_destinations", "info_transportes.parquet")
SILVER_PATH = os.path.join("..", "table_destinations", "info_transportes_silver.parquet")
GOLD_PATH = os.path.join("..", "table_destinations", "info_corridas_do_dia.parquet")

spark = SparkSession.builder.appName("assignment1").getOrCreate()
print("Sessão spark iniciada com sucesso")

Sessão spark iniciada com sucesso

In [3]:
df_bronze = spark.read.parquet(BRONZE_PATH)

df_bronze.printSchema()
contagem = df_bronze.count()
print(f"Número de registro bronze: {contagem}")
df_bronze.show()

root
 |-- DATA_INICIO: string (nullable = true)
 |-- DATA_FIM: string (nullable = true)
 |-- CATEGORIA: string (nullable = true)
 |-- LOCAL_INICIO: string (nullable = true)
 |-- LOCAL_FIM: string (nullable = true)
 |-- DISTANCIA: integer (nullable = true)
 |-- PROPOSITO: string (nullable = true)

Número de registro bronze: 1153
+----------------+----------------+---------+-----------------+---------------+---------+-----------------+
|     DATA_INICIO|        DATA_FIM|CATEGORIA|     LOCAL_INICIO|      LOCAL_FIM|DISTANCIA|        PROPOSITO|
+----------------+----------------+---------+-----------------+---------------+---------+-----------------+
|01-01-2016 21:11|01-01-2016 21:17|  Negocio|      Fort Pierce|    Fort Pierce|       51|      Alimentação|
|01-02-2016 01:25|01-02-2016 01:37|  Negocio|      Fort Pierce|    Fort Pierce|        5|             NULL|
|01-02-2016 20:25|01-02-2016 20:38|  Negocio|      Fort Pierce|    Fort Pierce|       48|         Entregas|
|01-05-2016 17:31|01-05-2016 17:45|  Negocio|      Fort Pierce|    Fort Pierce|       47|          Reunião|
|01-06-2016 14:42|01-06-2016 15:49|  Negocio|      Fort Pierce|West Palm Beach|      637|Visita ao cliente|
|01-06-2016 17:15|01-06-2016 17:19|  Negocio|  West Palm Beach|West Palm Beach|       43|      Alimentação|
|01-06-2016 17:30|01-06-2016 17:35|  Negocio|  West Palm Beach|     Palm Beach|       71|          Reunião|
|01-07-2016 13:27|01-07-2016 13:33|  Negocio|             Cary|           Cary|        8|          Reunião|
|01-10-2016 08:05|01-10-2016 08:25|  Negocio|             Cary|    Morrisville|       83|          Reunião|
|01-10-2016 12:17|01-10-2016 12:44|  Negocio|          Jamaica|       New York|      165|Visita ao cliente|
|01-10-2016 15:08|01-10-2016 15:51|  Negocio|         New York|         Queens|      108|          Reunião|
|01-10-2016 18:18|01-10-2016 18:53|  Negocio|         Elmhurst|       New York|       75|          Reunião|
|01-10-2016 19:12|01-10-2016 19:32|  Negocio|          Midtown|    East Harlem|       62|          Reunião|
|01-11-2016 11:56|01-11-2016 12:03|  Negocio|Flatiron District|        Midtown|       16|         Entregas|
|01-11-2016 13:32|01-11-2016 13:46|  Negocio|          Midtown|   Midtown East|       17|      Alimentação|
|01-11-2016 14:30|01-11-2016 14:43|  Negocio|     Midtown East|        Midtown|       19|      Alimentação|
|01-12-2016 12:33|01-12-2016 12:49|  Negocio|          Midtown|  Hudson Square|       19|      Alimentação|
|01-12-2016 12:53|01-12-2016 13:09|  Negocio|    Hudson Square|Lower Manhattan|        4|      Alimentação|
|01-12-2016 14:42|01-12-2016 14:56|  Negocio|  Lower Manhattan|  Hudson Square|       18|         Entregas|
|01-12-2016 15:13|01-12-2016 15:28|  Negocio|    Hudson Square| Hell's Kitchen|       24|Visita ao cliente|
+----------------+----------------+---------+-----------------+---------------+---------+-----------------+
only showing top 20 rows

In [ ]:
df_silver = spark.read.parquet(SILVER_PATH)

df_silver.printSchema()
contagem = df_silver.count()
print(f"Número de registro silver: {contagem}")
df_silver.show()

null_count = df_silver.select([f.count(f.when(f.col(c).isNull(), c)).alias(c) for c in df_silver.columns])
null_count.show()

root
 |-- DATA_INICIO: string (nullable = true)
 |-- DATA_FIM: string (nullable = true)
 |-- CATEGORIA: string (nullable = true)
 |-- LOCAL_INICIO: string (nullable = true)
 |-- LOCAL_FIM: string (nullable = true)
 |-- DISTANCIA: long (nullable = true)
 |-- PROPOSITO: string (nullable = true)
 |-- DT_REFE: string (nullable = true)

Número de registro silver: 1153
+----------------+----------------+---------+-----------------+---------------+---------+-----------------+----------+
|     DATA_INICIO|        DATA_FIM|CATEGORIA|     LOCAL_INICIO|      LOCAL_FIM|DISTANCIA|        PROPOSITO|   DT_REFE|
+----------------+----------------+---------+-----------------+---------------+---------+-----------------+----------+
|01-01-2016 21:11|01-01-2016 21:17|  Negocio|      Fort Pierce|    Fort Pierce|       51|      Alimentacao|2016-01-01|
|01-02-2016 01:25|01-02-2016 01:37|  Negocio|      Fort Pierce|    Fort Pierce|        5|       Nao-consta|2016-01-02|
|01-02-2016 20:25|01-02-2016 20:38|  Negocio|      Fort Pierce|    Fort Pierce|       48|         Entregas|2016-01-02|
|01-05-2016 17:31|01-05-2016 17:45|  Negocio|      Fort Pierce|    Fort Pierce|       47|          Reuniao|2016-01-05|
|01-06-2016 14:42|01-06-2016 15:49|  Negocio|      Fort Pierce|West Palm Beach|      637|Visita ao cliente|2016-01-06|
|01-06-2016 17:15|01-06-2016 17:19|  Negocio|  West Palm Beach|West Palm Beach|       43|      Alimentacao|2016-01-06|
|01-06-2016 17:30|01-06-2016 17:35|  Negocio|  West Palm Beach|     Palm Beach|       71|          Reuniao|2016-01-06|
|01-07-2016 13:27|01-07-2016 13:33|  Negocio|             Cary|           Cary|        8|          Reuniao|2016-01-07|
|01-10-2016 08:05|01-10-2016 08:25|  Negocio|             Cary|    Morrisville|       83|          Reuniao|2016-01-10|
|01-10-2016 12:17|01-10-2016 12:44|  Negocio|          Jamaica|       New York|      165|Visita ao cliente|2016-01-10|
|01-10-2016 15:08|01-10-2016 15:51|  Negocio|         New York|         Queens|      108|          Reuniao|2016-01-10|
|01-10-2016 18:18|01-10-2016 18:53|  Negocio|         Elmhurst|       New York|       75|          Reuniao|2016-01-10|
|01-10-2016 19:12|01-10-2016 19:32|  Negocio|          Midtown|    East Harlem|       62|          Reuniao|2016-01-10|
|01-11-2016 11:56|01-11-2016 12:03|  Negocio|Flatiron District|        Midtown|       16|         Entregas|2016-01-11|
|01-11-2016 13:32|01-11-2016 13:46|  Negocio|          Midtown|   Midtown East|       17|      Alimentacao|2016-01-11|
|01-11-2016 14:30|01-11-2016 14:43|  Negocio|     Midtown East|        Midtown|       19|      Alimentacao|2016-01-11|
|01-12-2016 12:33|01-12-2016 12:49|  Negocio|          Midtown|  Hudson Square|       19|      Alimentacao|2016-01-12|
|01-12-2016 12:53|01-12-2016 13:09|  Negocio|    Hudson Square|Lower Manhattan|        4|      Alimentacao|2016-01-12|
|01-12-2016 14:42|01-12-2016 14:56|  Negocio|  Lower Manhattan|  Hudson Square|       18|         Entregas|2016-01-12|
|01-12-2016 15:13|01-12-2016 15:28|  Negocio|    Hudson Square| Hell's Kitchen|       24|Visita ao cliente|2016-01-12|
+----------------+----------------+---------+-----------------+---------------+---------+-----------------+----------+
only showing top 20 rows

In [5]:
info_corridas_do_dia = spark.read.parquet(GOLD_PATH)

info_corridas_do_dia.printSchema()
contagem = info_corridas_do_dia.count()
print(f"Número de registro gold: {contagem}")
info_corridas_do_dia.show()
# info_corridas_do_dia.filter(f.col("DT_REFE") == '2016-01-06').show()
# info_corridas_do_dia.filter(f.col("VL_MAX_DIST") > '40.0').show()
# info_corridas_do_dia.filter(f.col("QT_CORR") > 10).show()

root
 |-- DT_REFE: string (nullable = true)
 |-- QT_CORR: long (nullable = true)
 |-- QT_CORR_NEG: long (nullable = true)
 |-- QT_CORR_PESS: long (nullable = true)
 |-- VL_MAX_DIST: long (nullable = true)
 |-- VL_MIN_DIST: long (nullable = true)
 |-- VL_AVG_DIST: double (nullable = true)
 |-- QT_CORR_REUNI: long (nullable = true)
 |-- QT_CORR_NAO_REUNI: long (nullable = true)

Número de registro gold: 287
+----------+-------+-----------+------------+-----------+-----------+-----------+-------------+-----------------+
|   DT_REFE|QT_CORR|QT_CORR_NEG|QT_CORR_PESS|VL_MAX_DIST|VL_MIN_DIST|VL_AVG_DIST|QT_CORR_REUNI|QT_CORR_NAO_REUNI|
+----------+-------+-----------+------------+-----------+-----------+-----------+-------------+-----------------+
|2016-08-17|      8|          8|           0|        121|         14|       60.4|            0|                8|
|2016-04-22|      4|          4|           0|        225|         10|      118.8|            4|                0|
|2016-08-08|      5|          5|           0|         52|          4|       32.6|            0|                5|
|2016-09-11|      2|          2|           0|         98|         86|       92.0|            0|                2|
|2016-07-06|      5|          5|           0|         99|         31|       65.0|            1|                4|
|2016-03-17|      7|          3|           4|        302|         17|      127.0|            1|                6|
|2016-04-15|      3|          3|           0|        152|         14|       95.0|            1|                2|
|2016-01-29|      6|          6|           0|        104|         46|       69.3|            3|                3|
|2016-07-23|      6|          6|           0|        104|          3|       61.3|            2|                4|
|2016-01-18|      2|          2|           0|         48|         47|       47.5|            0|                2|
|2016-06-08|      8|          8|           0|        223|          5|       54.6|            0|                8|
|2016-09-27|      4|          4|           0|       1956|         58|      546.3|            0|                4|
|2016-01-27|      5|          5|           0|        187|         18|       79.0|            1|                4|
|2016-07-30|      2|          2|           0|        133|         14|       73.5|            0|                2|
|2016-05-16|      5|          5|           0|        145|         15|       90.4|            0|                5|
|2016-08-07|      4|          4|           0|         27|         25|       26.0|            0|                4|
|2016-09-14|      1|          1|           0|          7|          7|        7.0|            0|                1|
|2016-07-19|      5|          4|           1|         87|          3|       48.2|            1|                4|
|2016-04-12|      5|          5|           0|        159|         28|       83.2|            2|                3|
|2016-07-08|      4|          4|           0|        132|          7|       85.3|            0|                4|
+----------+-------+-----------+------------+-----------+-----------+-----------+-------------+-----------------+
only showing top 20 rows